<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIAppFonts</key>
    <array>
        <string>SourceCodePro-Bold.ttf</string>
        <string>Rye-Regular.ttf</string>
    </array>
    <key>NSFileProviderDomainUsageDescription</key>
    <string>Archivum needs access to files for importing Codex nodes and profiles.</string>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>UIFileSharingEnabled</key>
    <true/>
</dict>
</plist>
